<div [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Course title" 
        formControlName="title" #title>
        <mat-hint align="end">
           User Entered : {{title.value.length}}/60
        </mat-hint>
        <mat-error *ngIf="courseTitle.errors?.titleExists"> 
            this title is already being used.</mat-error>

    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select Category" formControlName="category">
            <ng-container *ngFor="let category of (CourseCategories$|async)">
                <mat-option value = "category.code">{{category.description}}</mat-option>

            </ng-container>

        </mat-select>
    </mat-form-field>

    <mat-form-field>
        
        <input matInput [matDatepicker]="releaseDatePicker" 
        formControlName="releasedAt"
        placeholder="Release Date">
      
        <mat-datepicker-toggle matSuffix
         [for]="releaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #releaseDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox color="primary" formControlName="downloadsAllowed">

        Download Allowed?
    </mat-checkbox>

    <mat-form-field appearance="outline">

        <textarea matInput placeholder="description" formControlName="longDescription">

        </textarea>
    </mat-form-field>

</div>
<div class="form-val">
{{form.value|json}}
</div>