<mat-card class="login-page">
  <mat-card-title>Login(Template-Driven)</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">

      <mat-form-field  >

        <input matInput type="email" name="email" 
        ngModel 
        #email="ngModel"  [ngModelOptions]="{updateOn:'submit'}"
               placeholder="Email" email required minlength="3" maxlength="20" (ngModelChange)="onEmailChange($event)">
               
              
               
               <mat-error *ngIf="email.errors?.required">Email Id is mandatory.</mat-error>
               
               <mat-error *ngIf="email.errors?.minlength" style="white-space:pre-wrap">
                your email must have minimum {{email.errors?.minlength.requiredLength}} chars, 
                But, it has only {{email.errors?.minlength.actualLength}}
              </mat-error>
              
              <mat-error *ngIf="email.errors?.email">This is not a valid Email</mat-error>
      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" ngModel 
        #password="ngModel" name="password" placeholder="Password" maxlength="20"  required passwordStrength
        minlength="8"
        >

        <mat-error *ngIf="password.errors?.required">Password is mandatory field</mat-error>
       

      </mat-form-field>
      <ng-container *ngIf="password.errors | onlyOneError:['required','minlength','passwordStrength'] as error">

        <div class="field-message" *ngIf="error.minlength">
          your password must have minimum {{error.minlength.requiredLength}} chars, 
          But, it has only {{error.minlength.actualLength}}
        </div>
        
        <div class="field-message" *ngIf="error.passwordStrength"> Your password must have lower case and upper case and numeric characters 
        </div>
      
      </ng-container>
        
        
      
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="date" ngModel #date="ngModel" required>
        <mat-error>Date is mandatory.</mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary"  type="submit" >
        Login
      </button>

    </form>
<div class="form-val">
  {{email.errors|json}} | {{password.errors|json}} | {{date.errors|json}}

</div>
  </mat-card-content>
</mat-card>
